
$dark-blue: #040dbf;
$light-blue: #01f2f2;
$gold: #f2df79;
$orange: #F37406;
$background: #3A53BA;


$header-bg: #5666D8;
$card-bg: #ffffff;
$text-dark: #1a1a1a;
$text-light: #ffffff;

$font-title: 'ATRotisSemiSans-ExtraBold', sans-serif;
$font-subtitle: 'ATRotisSemiSans-Light', sans-serif;
$font-body: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;